:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1200px;
    --container-pi: 20px;
    --header-height: 65px;
    --color-01: #66a3ff;
    --color-02: #d24e00;
    --color-03: #d08e00;
    --color-04: #1183dc;
    --color-05: #15222c;
    --color-06: #ff5f00;
    --color-07: #fcb316;
    --color-08: #f9f9f9;
    --color-09: #ffffff;
    --color-10: #bdbdbd;
    --color-11: #d24e00;
    --color-12: #828282;
}

@media (min-width: 576px) {
    :root {
        --header-height: 80px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "RFDewi";
  font-style: normal;
  font-weight: 600;
  src: local("RFDewi"), local("RFDewi"), url("../fonts/RFDewi/RFDewiExpanded-Semibold.woff2") format("woff2"), url("../fonts/RFDewi/RFDewiExpanded-Semibold.woff") format("woff"), url("../fonts/RFDewi/RFDewiExpanded-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "RFDewi";
  font-style: normal;
  font-weight: 700;
  src: local("RFDewi"), local("RFDewi"), url("../fonts/RFDewi/RFDewiExpanded-Bold.woff2") format("woff2"), url("../fonts/RFDewi/RFDewiExpanded-Bold.woff") format("woff"), url("../fonts/RFDewi/RFDewiExpanded-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RFDewi";
  font-style: normal;
  font-weight: 900;
  src: local("RFDewi"), local("RFDewi"), url("../fonts/RFDewi/RFDewiExpanded-Black.woff2") format("woff2"), url("../fonts/RFDewi/RFDewiExpanded-Black.woff") format("woff"), url("../fonts/RFDewi/RFDewiExpanded-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Evolventa";
  font-style: normal;
  font-weight: 400;
  src: local("Evolventa"), local("Evolventa"), url("../fonts/evolventa/Evolventa-Regular.woff2") format("woff2"), url("../fonts/evolventa/Evolventa-Regular.woff") format("woff"), url("../fonts/evolventa/Evolventa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Evolventa";
  font-style: normal;
  font-weight: 700;
  src: local("Evolventa"), local("Evolventa"), url("../fonts/evolventa/Evolventa-Bold.woff2") format("woff2"), url("../fonts/evolventa/Evolventa-Bold.woff") format("woff"), url("../fonts/evolventa/Evolventa-Bold.ttf") format("truetype");
}

body {
    font-family: "RFDewi";
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--color-08);
}

body.no-scroll {
    overflow: hidden;
}

.button {
    --_clr: var(--color-08);
    --_bg: var(--color-04);
    --_bg-hover: var(--color-01);
    --btn-height: 65px;
    --btn-fs: 18px;
    --btn-br: 20px;
    width: 100%;
    min-height: var(--btn-height);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--btn-fs);
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    color: var(--_clr);
    border-radius: var(--btn-br);
    cursor: pointer;
    background: var(--_bg);
    outline: none;
    border: none;
    transition: background 0.2s linear, color 0.2s linear;
}

@media (any-hover: hover) {
    .button:hover {
        background: var(--_bg-hover);
    }
}

.button_light {
    --_clr: var(--color-04);
    --_bg: var(--color-08);
    --_bg-hover: var(--color-04);
    border: 2px solid var(--_bg);
}

@media (any-hover: hover) {
    .button_light:hover {
        --_clr: var(--color-08);
    }
}

.button_icon svg {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
    display: block;
    fill: currentColor;
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    --_pt: var(--header-height);
    --_bg: var(--color-05);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    padding: var(--_pt) 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--_bg);
}

.wrapper_dekor {
    background-image: url("../images/index/dekor.png");
    background-repeat: no-repeat;
    background-position: 50% var(--_pt);
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

.logo {
    --_color: var(--color-08);
    display: block;
    font-size: 1.125rem;
}

.logo__wrapper {
    display: flex;
    align-items: flex-end;
}

.logo__icon {
    flex: 0 0 1.974em;
    margin: 0 0.526em 0 0;
}

.logo__text {
    font-size: 1em;
    font-weight: 700;
    line-height: 0.9;
    color: var(--_color);
}

.fullscreen {
    min-height: calc(var(--fullscreen) - var(--header-height));
    padding: 20px 0 50px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: var(--color-05);
}

.header__content {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 0 20px 0 0;
    position: relative;
    z-index: 1000;
}

.header__menu-toggle {
    flex: 0 0 35px;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    overflow: hidden;
}

.header__menu-toggle::before,
.header__menu-toggle span, .header__menu-toggle::after {
    width: 100%;
    height: 2px;
    display: block;
    border-radius: 2px;
    background: var(--color-08);
    transition: transform 0.2s linear, top 0.2s linear, bottom 0.2s linear;
}

.header__menu-toggle::before, .header__menu-toggle::after {
    content: "";
    position: absolute;
    left: 0;
}

.header__menu-toggle::before {
    top: calc(50% - 10px);
}

.header__menu-toggle::after {
    bottom: calc(50% - 10px);
}

.header__menu-toggle.active span {
    transform: scale(0);
}

.header__menu-toggle.active::before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
}

.header__menu-toggle.active::after {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
}

.header__menu {
    flex: 0 1 600px;
}

.menu {
    --_font-size: 0.875rem;
    --_action-color: var(--color-05);
    --_action-hover-color: var(--color-04);
    --_signin-color: var(--color-04);
    --_signin-hover-color: var(--color-08);
    --_signin-bg: var(--color-08);
    --_signin-bg-hover: var(--color-04);
    padding: var(--header-height) var(--container-pi) var(--container-pi);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: var(--color-05);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s linear, visibility 0.4s linear;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu.active .menu__content {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

@media (min-width: 576px) {
    .menu {
        --_font-size: 1rem;
    }
}

.menu__wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu__content {
    padding: 25px;
    border-radius: 20px;
    background: var(--color-08);
    transform: scale(0.9) translate3d(0, 40px, 0);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.2s linear;
}

.menu__items {
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu__action {
    display: block;
    cursor: pointer;
    font-size: var(--_font-size);
    font-weight: 600;
    line-height: 1.3;
    color: var(--_action-color);
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .menu__action:hover {
        color: var(--_action-hover-color);
    }
}

.menu__action.active {
    color: var(--_action-hover-color);
}

.menu__signin {
    display: block;
    font-size: var(--_font-size);
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: var(--_signin-color);
    transition: color 0.2s linear, background 0.2s linear;
}

@media (min-width: 992px) {
    .menu__signin {
        flex: 0 0 6.5em;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.75em;
        background: var(--_signin-bg);
    }
}

@media (min-width: 992px) and (any-hover: hover) {
    .menu__signin:hover {
        color: var(--_signin-hover-color);
        background: var(--_signin-bg-hover);
    }
}

.not-found__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__title {
    margin: 0 0 20px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: normal;
    color: var(--color-08);
    position: relative;
    z-index: 1;
}

.not-found__title span {
    display: block;
    font-size: 4.571em;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-04);
}

.not-found__img {
    max-width: 250px;
    margin: 0 0 20px 0;
}

.not-found__button {
    max-width: 25rem;
    position: relative;
    z-index: 1;
}

.footer {
    --clr: var(--color-08);
    --clr-anchors: var(--color-01);
    --margin-bottom: 50px;
    padding: 0 0 65px 0;
}

.footer__logo {
    margin: 0 0 var(--margin-bottom) 0;
    display: flex;
    justify-content: center;
}

.footer__logo .logo__wrapper {
    justify-content: center;
}

.footer__actions {
    margin: 0 auto var(--margin-bottom);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 576px) {
    .footer__actions {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}

.footer__action,
.footer__anchor {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.3;
    transition: color 0.2s linear;
}

.footer__action:not(:last-child),
.footer__anchor:not(:last-child) {
    margin: 0 0 20px 0;
}

@media (min-width: 576px) {
    .footer__action,
  .footer__anchor {
        text-align: left;
    }
}

.footer__action {
    color: var(--clr);
}

@media (any-hover: hover) {
    .footer__action:hover {
        --clr: var(--color-01);
    }
}

.footer__anchor {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--clr-anchors);
}

.footer__anchor svg {
    flex: 0 0 1.333em;
    width: 1.333em;
    height: 1.333em;
    margin: 0 0 0 0.5em;
    display: block;
    stroke: currentColor;
    stroke-width: 3px;
    stroke-linecap: round;
}

@media (any-hover: hover) {
    .footer__anchor:hover {
        --clr-anchors: var(--color-08);
    }
}

@media (max-width: 576px) {
    .footer__anchor {
        justify-content: center;
    }
}

.footer__info,
.footer__partners {
    font-family: "Evolventa";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.357;
    color: var(--clr);
}

.footer__info p,
.footer__partners p {
    display: block;
}

.footer__info {
    margin: 0 0 35px 0;
    display: grid;
    text-align: justify;
    gap: 15px;
}

.footer__info a {
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
}

@media (any-hover: hover) {
    .footer__info a:hover {
        text-decoration: none;
    }
}

.footer__partners span {
    margin: 0 0 20px 0;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
}

.footer__partners p:not(:last-child) {
    margin: 0 0 15px 0;
}

.title {
    --title-clr: var(--color-08);
    margin: 0 0 20px 0;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--title-clr);
}

.title span {
    padding: 1.429em 0 0 0;
    display: block;
    font-size: 0.583em;
    line-height: 1.3;
    font-weight: 600;
}

.title a,
.title strong {
    color: var(--color-01);
}

@media (min-width: 576px) {
    .title {
        font-size: 2.125rem;
    }

    .title span {
        padding: 1.333em 0 0 0;
        font-size: 0.469em;
    }
}

.title_dark {
    --title-clr: var(--color-05);
}

.calc {
    --_bg: var(--color-08);
    --_bg-active: var(--color-04);
    --border-radius-noUi: 30px;
}

.calc__wrapper {
    display: flex;
    flex-direction: column;
}

.calc__range {
    margin: 0 0 30px 0;
}

.calc__label {
    margin: 0 0 20px 0;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 0.897;
    color: var(--color-08);
}

.calc__label span {
    color: var(--color-01);
}

.calc__range-target.noUi-target.noUi-ltr.noUi-horizontal {
    height: 14px;
    border-radius: var(--border-radius-noUi);
    border: none;
    box-shadow: none;
    background: var(--color-08);
}

.calc__range-target.noUi-target.noUi-ltr.noUi-horizontal .noUi-connects {
    border-radius: var(--border-radius-noUi);
}

.calc__range-target.noUi-target.noUi-ltr.noUi-horizontal .noUi-connect {
    background: var(--color-04);
}

.calc__range-target.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -8px;
    right: -15px;
    border: none;
    box-shadow: 0px 0px 28px -6px rgba(34, 60, 80, 0.04);
}

.calc__range-target.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle::before, .calc__range-target.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle::after {
    display: none;
}

.calc__button {
    margin: auto 0 0 0;
}

.calc__slider {
    margin: 0 0 20px 0;
}

@media (min-width: 576px) {
    .calc__slider {
        margin: 0 0 30px 0;
    }
}

.calc__swiper {
    margin: 0 calc(var(--container-pi) - var(--container-pi) * 2);
    position: relative;
}

.calc__swiper .swiper-button-prev,
.calc__swiper .swiper-button-next {
    display: none;
}

@media (min-width: 576px) {
    .calc__swiper {
        padding: 0 40px;
        margin: 0;
    }

    .calc__swiper .swiper-button-prev,
  .calc__swiper .swiper-button-next {
        --swiper-navigation-size: 35px;
        --swiper-navigation-color: var(--color-08);
        display: block;
        transition: color 0.2s linear;
    }
}

@media (min-width: 576px) and (any-hover: hover) {
    .calc__swiper .swiper-button-prev:hover,
  .calc__swiper .swiper-button-next:hover {
        --swiper-navigation-color: var(--color-04);
    }
}

@media (min-width: 576px) {
    .calc__swiper .swiper-button-prev {
        left: 0;
    }

    .calc__swiper .swiper-button-next {
        right: 0;
    }
}

.calc__date {
    height: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-05);
    border-radius: 10px;
    background: var(--_bg);
    transition: color 0.2s linear, background 0.2s linear;
}

.calc__date.active {
    color: var(--color-08);
    background: var(--_bg-active);
}

@media (any-hover: hover) {
    .calc__date:hover {
        color: var(--color-08);
        background: var(--_bg-active);
    }
}

@media (min-width: 576px) {
    .calc__date {
        font-size: 1.125rem;
    }
}

.index {
    padding: 0 0 50px 0;
}

@media (min-width: 576px) {
    .index {
        padding: 0 0 75px 0;
    }
}

.index__applications,
.index__statistics,
.index__calc {
    padding: 50px 0 0 0;
}

@media (min-width: 576px) {
    .index__applications,
  .index__statistics,
  .index__calc {
        padding: 75px 0 0 0;
    }
}

.index__applications-wrapper {
    padding: 20px;
    border-radius: 20px;
    background: var(--color-08);
}

@media (min-width: 576px) {
    .index__applications-wrapper {
        padding: 30px;
    }
}

.index__statistics ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.index__statistics strong {
    margin: 0 0 5px 0;
    display: block;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-01);
}

.index__statistics span {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: var(--color-08);
}

@media (min-width: 576px) {
    .index__statistics ul {
        gap: 50px;
        text-align: center;
    }
}

.index__calc .calc {
    max-width: 570px;
    margin: 0 auto;
}

.index__calc-wrapper {
    max-width: 745px;
    margin: 0 auto;
}

.index-main {
    --border-radius: 20px;
    --border: 2px solid var(--color-08);
    --_color: var(--color-08);
    padding: 30px 0 0 0;
}

.index-main_fullscreen {
    padding: 0;
}

.index-main_fullscreen .index-main__wrapper {
    min-height: calc(var(--fullscreen) - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-main_fullscreen .index-main__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (min-width: 576px) {
    .index-main {
        --border-radius: 30px;
    }
}

.index-main__preview {
    padding: 15px 20px;
    margin: 0 0 25px 0;
    border-radius: var(--border-radius);
    border: var(--border);
    background-image: url("../images/index-main/bg_01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media (min-width: 576px) {
    .index-main__preview {
        padding: 45px 30px 60px 40px;
        margin: 0 0 40px 0;
        overflow: hidden;
    }
}

.index-main__img {
    width: 300px;
    display: block;
    position: absolute;
    right: -30px;
    bottom: 0;
}

@media (min-width: 576px) {
    .index-main__img {
        width: 60%;
        right: 0;
    }
}

.index-main__title {
    margin: 0 0 60px 0;
    font-size: clamp(24px, 0.559rem + 4.01vw, 86px);
    font-weight: 700;
    line-height: 0.9;
    color: var(--_color);
    position: relative;
    z-index: 1;
}

@media (min-width: 576px) {
    .index-main__title {
        margin: 0 0 25px 0;
    }
}

.index-main__subtitle {
    max-width: 11.125em;
    font-size: clamp(14px, 0.481rem + 1.68vw, 40px);
    font-weight: 600;
    line-height: 1.279;
    color: var(--_color);
    position: relative;
    z-index: 1;
}

.index-main__time {
    max-width: 6em;
    height: 1.875em;
    margin: 0.5em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 700;
    color: var(--color-04);
    border-radius: 3em;
    background: var(--color-08);
}

.index-main__time img {
    flex: 0 0 1.325em;
    height: 1.325em;
    margin: 0 0.375em 0 0;
    display: block;
}

.index-main__calc {
    min-width: 0;
}

.index-main__calc .calc__wrapper {
    height: 100%;
}

@media (min-width: 576px) {
    .index-main__calc {
        padding: 40px 30px;
        border: var(--border);
        border-radius: var(--border-radius);
    }
}

.steps-get-money {
    padding: 50px 0 0 0;
}

@media (min-width: 576px) {
    .steps-get-money {
        padding: 75px 0 0 0;
    }
}

.steps-get-money__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.steps-get-money__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.steps-get-money__item:nth-child(even) {
    flex-direction: row-reverse;
}

.steps-get-money__item:nth-child(even) .steps-get-money__num {
    right: 146px;
    left: auto;
}

.steps-get-money__item:nth-child(even) .steps-get-money__label {
    padding: 0 30px 0 0;
}

@media (min-width: 400px) {
    .steps-get-money__item {
        justify-content: initial;
    }
}

@media (min-width: 576px) {
    .steps-get-money__item:nth-child(even) {
        flex-direction: row-reverse;
    }

    .steps-get-money__item:nth-child(even) .steps-get-money__num {
        left: 44%;
    }

    .steps-get-money__item:nth-child(even) .steps-get-money__label {
        padding: 0 60px 0 0;
    }
}

.steps-get-money__img {
    flex: 0 0 160px;
    height: 0;
    padding: 0 0 80px 0;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

@media (min-width: 576px) {
    .steps-get-money__img {
        flex: 0 0 43.597%;
        padding: 0 0 21.798% 0;
    }
}

.steps-get-money__num {
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-01);
    position: absolute;
    top: 50%;
    left: 132px;
    transform: translate3d(0, -50%, 0);
    opacity: 0.7;
}

@media (min-width: 576px) {
    .steps-get-money__num {
        left: 40%;
    }
}

.steps-get-money__label {
    flex: 0 1 166px;
    padding: 0 0 0 30px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-08);
    position: relative;
    z-index: 2;
}

@media (min-width: 576px) {
    .steps-get-money__label {
        padding: 0 0 0 60px;
        font-size: 1.125rem;
    }
}

.paycards {
    padding: 50px 0 0 0;
}

@media (min-width: 576px) {
    .paycards {
        padding: 75px 0 0 0;
    }
}

.paycards__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (min-width: 576px) {
    .paycards__items {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 15px;
    }
}

.paycards__item {
    padding: 0 0 58% 0;
    overflow: hidden;
    border-radius: 10px;
    background: var(--color-08);
}

.features {
    --clr: var(--color-08);
    padding: 50px 0 0 0;
}

@media (min-width: 576px) {
    .features {
        padding: 75px 0 0 0;
    }
}

.features__title {
    max-width: 67.5rem;
}

.features__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

.features__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    background: var(--color-04);
}

.features__label {
    margin: 0 0 20px 0;
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.269;
    color: var(--clr);
    position: relative;
    z-index: 1;
}

.features__sublabel {
    max-width: 11.364em;
    font-family: "Evolventa";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    color: var(--clr);
    position: relative;
    z-index: 1;
}

.features__img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.service-work {
    --clr: var(--color-08);
    padding: 50px 0 0 0;
}

@media (min-width: 576px) {
    .service-work {
        padding: 75px 0 0 0;
    }
}

@media (max-width: 576px) {
    .service-work__title {
        max-width: 18.75rem;
    }
}

.service-work__body {
    min-height: 870px;
    position: relative;
}

@media (min-width: 576px) {
    .service-work__body {
        min-height: 0;
    }
}

.service-work__line {
    position: absolute;
    top: -35px;
    left: -20px;
}

@media (min-width: 576px) {
    .service-work__line {
        display: none;
    }
}

@media (min-width: 576px) {
    .service-work__groups {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 15px;
    }
}

.service-work__group {
    display: flex;
    position: absolute;
    z-index: 1;
}

.service-work__group_center {
    align-items: center;
}

@media (min-width: 576px) {
    .service-work__group {
        position: static;
    }

    .service-work__group_center {
        align-items: flex-start;
    }
}

@media (max-width: 576px) {
    .service-work__group:nth-child(1) {
        top: 0;
        left: 0;
    }

    .service-work__group:nth-child(2) {
        top: 60px;
        left: 42px;
    }

    .service-work__group:nth-child(3) {
        top: 187px;
        left: 13px;
    }

    .service-work__group:nth-child(4) {
        top: 302px;
        left: 34px;
    }

    .service-work__group:nth-child(5) {
        top: 391px;
        left: 0;
    }

    .service-work__group:nth-child(6) {
        top: 544px;
        left: 0;
    }

    .service-work__group:nth-child(7) {
        top: 650px;
        left: 0;
    }

    .service-work__group:nth-child(8) {
        top: 786px;
        left: 33px;
    }
}

.service-work__num {
    flex: 0 0 40px;
    width: 40px;
    height: 35px;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--clr);
    background: var(--color-04);
    border-radius: 10px;
}

.service-work__text {
    font-family: "Evolventa";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--clr);
}

.service-work__text a {
    color: var(--color-01);
}

@media (any-hover: hover) {
    .service-work__text a:hover {
        text-decoration: underline;
    }
}

.reviews {
    --clr: var(--color-08);
    padding: 50px 0 0 0;
}

@media (min-width: 576px) {
    .reviews {
        padding: 75px 0 0 0;
    }
}

.reviews__slider {
    margin: 0 calc(var(--container-pi) - var(--container-pi) * 2);
}

.reviews__slider .swiper {
    padding: 0 var(--container-pi);
}

.reviews__slider .swiper-slide {
    height: auto;
}

.reviews__slide {
    padding: 15px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: var(--color-04);
}

.reviews__slide-head {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
}

.reviews__photo {
    flex: 0 0 70px;
    margin: 0 10px 0 0;
    border: 2px solid var(--color-08);
    border-radius: 50%;
    overflow: hidden;
}

.reviews__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__name {
    margin: 0 0 2px 0;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--clr);
}

.reviews__status,
.reviews__comment {
    display: block;
    font-family: "Evolventa";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--clr);
}

.reviews__status {
    margin: 0 0 10px 0;
}

.reviews__grade {
    display: flex;
    align-items: center;
}

.reviews__grade img {
    flex: 0 1 15px;
    height: 15px;
}

.reviews__comment {
    margin: auto 0 0 0;
}

.reviews__header {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.reviews__title {
    margin: 0 20px 0 0;
}

.reviews__slider-control {
    display: flex;
    gap: 5px;
}

@media (min-width: 576px) {
    .reviews__slider-control {
        gap: 10px;
    }
}

.reviews__slide-prev,
.reviews__slide-next {
    flex: 0 0 37px;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid var(--color-08);
    border-radius: 10px;
    transition: opacity 0.2s linear;
}

.reviews__slide-prev svg,
.reviews__slide-next svg {
    flex: 0 0 14px;
    width: 14px;
    height: 14px;
    fill: var(--color-08);
}

.reviews__slide-prev.swiper-button-disabled,
.reviews__slide-next.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
}

@media (any-hover: hover) {
    .reviews__slide-prev:hover,
  .reviews__slide-next:hover {
        opacity: 0.5;
    }
}

.reviews__slide-prev svg {
    transform: rotate(180deg);
}

.questions {
    --clr: var(--color-05);
    --bg: var(--color-08);
    padding: 50px 0 0 0;
}

@media (min-width: 576px) {
    .questions {
        padding: 75px 0 0 0;
    }
}

.questions__items {
    display: grid;
    gap: 15px;
}

.questions__item {
    padding: 0 10px 0 20px;
    border-radius: 15px;
    background: var(--bg);
    transition: background 0.2s linear;
}

@media (any-hover: hover) {
    .questions__item:hover {
        --clr: var(--color-04);
    }
}

.questions__item.active {
    --clr: var(--color-08);
    --bg: var(--color-04);
}

.questions__item.active .questions__button svg {
    transform: rotate(270deg);
}

.questions__header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    color: var(--clr);
    transition: color 0.2s linear;
}

.questions__header span {
    padding: 0 20px 0 0;
}

@media (min-width: 576px) {
    .questions__header {
        font-size: 16px;
    }
}

.questions__button {
    flex: 0 0 37px;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 10px;
    transition: opacity 0.2s linear;
}

.questions__button svg {
    flex: 0 0 14px;
    width: 14px;
    height: 14px;
    fill: currentColor;
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

.questions__body {
    padding: 0 40px 20px 0;
    font-family: "Evolventa";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--clr);
    transition: opacity 2s linear;
}

@media (min-width: 576px) {
    .questions__body {
        font-size: 14px;
    }
}